name: Build, Test and Analyze

on: [ push, pull_request ]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: arduino/setup-protoc@v1
      - uses: subosito/flutter-action@v2.5.0
        with:
          channel: 'stable'
          cache: true
      - name: Setup
        run: |
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs
          dart pub global activate protoc_plugin
          chmod +x generate_protos.sh
          ./generate_protos.sh
      - name: Static Analysis
        run: flutter analyze
      - name: Unit Tests
        run: flutter test test/unit
      - name: Widget Tests
        run: flutter test test/widget
      - name: Build release package
        run: flutter build apk --release
      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: apk
          path: |
            build/app/outputs/flutter-apk/app-release.apk
            
